:root {
  --color-blue: #81d8d0;
  --color-red: #ff4136;
  --color-white: #fff;
  --color-black: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
}

.banner {
  background-color: var(--color-blue);
}

.banner__dh {
  width: 100px;
}

.faq-list > li {
  margin-bottom: 1.5rem;
}

.card-header > h4 {
  line-height: 1.5;
}
